<div class="row align-items-center justify-content-center vh-100">
  <div class="col-sm-auto">
    <div class="card text-center">
      <h2 class="p-3 mb-2 bg-dark text-white card-img-top">
        Status Push Button
      </h2>
      <div class="card-body">
        <ng-container *ngIf="push == 'push'; else elseTemplate">
          <h1><i class="fas fa-hand-point-down"></i></h1>
        </ng-container>
        <ng-template #elseTemplate>
          <h1><i class="far fa-hand-point-down"></i></h1>
        </ng-template>
      </div>
    </div>
  </div>
</div>
